<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solution.alnahar.kitchenorderticket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_kot"
        android:label="K O T"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:layout_gravity="right" -->
        <activity
            android:name=".Categories.CategoriesGridMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Categories.SubCategoriesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Categories.ItemsActivity" />
        <activity android:name=".Cart.CartActivity" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".pendingOrders.PendingOrdersActivity"
            android:parentActivityName=".Cart.CartActivity"
            ></activity>
    </application>

</manifest>